<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашная страница</title>
    <link href="css/index.css" rel="stylesheet">
    <link rel="icon" href="assets/logo.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <ul class="menu">
            <li class="itemMenu">
                <a class="linkOnMenu" href="/dzTEA?tea={{name}}">
                    Задания
                </a>
            </li>
            <li class="vertMenu itemMenu">
                <div class="vertical-line"></div>
            </li>
            <li class="itemMenu">
                <a class="linkOnMenu" href="/materialsTEA?tea={{name}}">
                    Материалы
                </a>
            </li>
            <li class="vertMenu itemMenu">
                <div class="vertical-line"></div>
            </li>
            <li class="itemMenu" id="itemMenu">
                <a class="linkOnMenu" href="/questionsTEA?tea={{name}}">
                    Вопросы
                </a>
            </li>
            <li class="vertMenu itemMenu">
                <div class="vertical-line"></div>
            </li>
            <li class="itemMenu">
                <a class="linkOnMenu" href="/aboutTEA?tea={{name}}">
                    О нас
                </a>
            </li>
        </ul>
        <div class="user">
            <h5 class="userName">{{name}}</h5>
            <a class="exit" href="/">
                <img height="30px" width="30px" src="assets/exit.svg">
            </a> 
        </div>
    </header>

    <main class="question">

        <div class="ques">
            <a href="/questionsTEA">
                <img width="40px" src="/assets/back.svg">
            </a>    
            <h4 class="my-3 questionText">{{question.text}}</h4>
            <p class="my-3">({{question.time}})</p>
        </div>
        {{#if question.answer}}
            <blockquote class="my-3">{{question.answer}}</blockquote>
            <cite>Ответил: {{question.teacher}}</cite>
        {{else}}            
            <form action="/answer?id={{question._id}}" method="POST" class="answer">
                <img class="answerCat mb-3" src="assets/CATS/catNo.png">
                <h6>Ответа пока нет (</h6>
                <p>Но вы можете добавить его прямо сейчас!</p>
                <hr>
                <h4>Добавить ответ:</h4>
                <textarea name="answer" type="text" class="form-control my-3"></textarea>
                <select name="teacher" class="form-select mb-3" aria-label="Default select example">
                    <option selected>Автор ответа:</option>
                    <option value="Попов Константин">Попов Константин</option>
                    <option value="Игорь Васильвич">Игорь Васильвич</option>
                    <option value="Марина Леонидовна">Марина Леонидовна</option>
                    <option value="Аноним">Аноним</option>
                </select>
                <button class="my-3 btn btn-primary" type="submit">Отправить</button>
            </form>
        {{/if}}
    </main>

    <footer>
        <section class="footerOne">
            <div class="imgInfo">
                <img class="iinfo" src="/assets/info.svg">
            </div>
            <p class="footerInfo">Сайт создан и разрабатывается Константином Поповым. Для связи использовать:</p>
        </section>
        <section class="footerTwo">
            <ul>
                <li class="aboutUs">
                    <img src="/assets/vk.svg" width="40px">
                    <a class="I" href="https://vk.com/little_man2306">VK</a>
                </li>
                <li class="aboutUs">
                    <img src="/assets/tg.svg" width="40px">
                    <a class="I" href="https://t.me/Elona_muska">Telegram</a>
                </li>
            </ul>
        </section>
    </footer>

    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous"></script>  
</body>
</html>